.aside-filters {
  /* background: chartreuse; */
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}
.aside-filters #logo {
  margin: 0 auto 1rem auto;
  width: 15rem;
}
.row-container{
  display: flex;
}
span {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.filters-wrapper {
  background: #fff;
  border-radius: 0.3rem;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.75);
  min-width: 16rem;
  padding: 1rem;
}
details {

}
summary {
  cursor: pointer;
  padding: 0.1rem 0;
  font-weight: 700;
}
.filter-items {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
}
.filter-option {
  align-items: center;
  display: flex;
  cursor: pointer;
}
.filter-option:hover {
  text-decoration: underline;
}
.option-ckeckbox {
  cursor: pointer;
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}
