.asideFilters {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	
	#logo {
		margin: 0 auto 1rem auto;
		width: 15rem;
	}

	span {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.filtersWrapper {
		background: #fff;
		border-radius: 0.3rem;
		box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.75);
		min-width: 16rem;
		padding: 1rem;

		details {
			margin-bottom: 0.5rem;

			summary {
				cursor: pointer;
				font-weight: 700;
				padding: 0.1rem 0;
			}

			.filterItems {
				display: flex;
				flex-direction: column;
				padding: 0.1rem 0;

				.filterOption {
					align-items: center;
					cursor: pointer;
					display: flex;

					&:hover {
						text-decoration: underline;
					}

					.optionCkeckbox {
						cursor: pointer;
						height: 1rem;
						margin-right: 0.5rem;
						width: 1rem;
					}
				}
			}
		}
	}
}
